<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>campaign bot daily filings</title>
</head>

<body>
<table>
<tr><td>
 <h1 class="aligncenter">
    <img class="aligncenter" style="border-radius=25; display: block; margin-left: auto; margin-right: auto" src="https://pbs.twimg.com/profile_images/767587766431604736/whsYYxOS.jpg" width="100" hight="100" border="0" align="center">
    </br>
    campaign bot
</h1>
<h2 class="aligncenter">Filings for {{ date }}</h2>

{% for c in committees %}
<h3>{{ c.committee_name }}{{ c.candidate_name }} {{ c.committee_id }}</h3>
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block aligncenter">
            <table class="invoice">
                <tr>
                    <td>Form type</td>
                    <td>FEC ID</td>
                    <td>Coverage start</td>
                    <td>Coverage end</td>
                    <td>Filed Date</td>
                    <td>Report Type</td>
                    <td>Text File</td>
                </tr>
                {% for file in c.filings %}
                <tr>
                    <td>
                        <table class="invoice-items" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>{{ file.form_type }}</td>
                                <td>{{ file.file_number }}</td>
                                <td>{{ file.coverage_start_date }}</td>
                                <td>{{ file.coverage_end_date }}</td>
                                <td>{{ file.reciept_date }}</td>
                                <td>{{ file.report_type }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
    </table>
{% endfor %}
</table>

<div class="footer">
    <a class="aligncenter content-block" href="https://twitter.com/young_bots">@young_bots</a>
    <a class="aligncenter content-block" href="https://twitter.com/young_bots">@young_bots</a>
    <a class="aligncenter content-block">Questions? Email <a href="mailto:">lindsay.n.young@gmail.com</a>
</div>
</td>
</tr>
</table>
</body>
</html>